
/*This will allow me to style elements on html pages when linked to it*/


body {
  background-color:blue;
  font-family: "Roboto", sans-serif;
padding :0;
margin:0;
}

.form-group{
  width: 360px;
  height: 620px;
  margin: auto;
  background-color: white;
  border-radius: 3px;
}


h1 {
  text-align: center;
  padding-top: 15px;
}

h4 {
  text-align: center;
}

.users-table{
  border-collapse: collapse;
  background-color: white;
  left:0;
  right:0;
  
  top: 100px;
  z-index: 1000;

}

.form label {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
  z-index: 500;
  position: relative;
  top: 100px;
}
  


form input {
  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
 
}
input[type="button"] {
  width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: #49c1a2;
  color: white;
  font-size: 18px;
  left: 0;
  line-height: 0%;
  right: 2px;
  z-index: 1000;
  position: relative;
  top: 100px;
}
p {
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
}
.para-2 {
  text-align: center;
  color: white;
  font-size: 15px;
  margin-top: -10px;
}
.para-2 a {
  color: white;
}
.jobs-table{background-color: white;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: large;
  min-width: 400px;

}
.jobs-table thead tr{
  background-color: #009879;
  text-align: left;
}
.jobs-table th,
.jobs-table td{
  padding: 12px 15px;

}
.users-body{
  padding-bottom: 0%;}

.jobs-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  .jobs-table tbody tr {
    border-bottom: 1px solid #dddddd;

}
.users-table thead tr{
  background-color: #009879;
  text-align: left;}
  .users-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  .users-table tbody tr {
    border-bottom: 1px solid #dddddd;

}

