body {
    background-color: #344a72;
    font-family: "Roboto", sans-serif;
  }
  
  .job-list {
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
  }
  
  
  h1 {
    text-align: center;
    padding-top: 15px;
  }
  
  h4 {
    text-align: center;
  }
  
  form {
    width: 300px;
    margin-left: 20px;
  }
  
  form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
  }
  
  form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }
  input[type="button"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
  }
  p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
  }
  .para-2 {
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -10px;
  }
  .para-2 a {
    color: #49c1a2;
  }
.nav-item{
    color:black;
}
.jobs-list{background-color: white;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: large;
  min-width: 400px;

}
.table thead tr{
  background-color: #009879;
  text-align: left;
}
.table  th,
.table  tr{
  padding: 12px 15px;

}
.table{
  padding-bottom: 0%;}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  .table tbody tr {
    border-bottom: 1px solid #dddddd;
    background-color: #009879;
    


}
.upload-documents{
  padding-bottom: 0%
}
.jobs{
  align-content: center;
}
  